<?xml version="1.0" encoding="utf-8"?>
<robot name="glr_description" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Include URDF definitions -->
  <xacro:include filename="$(find glr_description)/urdf/glr_urdf.xacro" />
  
  <!-- Include Gazebo definitions -->
  <xacro:include filename="$(find glr_description)/urdf/glr_gazebo.xacro" />

</robot>
